body{
	background-image: url(../img/34.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
	font-family: "Arial", "Helvetica", sans-serif;
	width: auto;
	
	padding: 2px 100px 2px 120px

}
/*corpo das paginas*/
.corpo{
	background-color:#f3ffe5;
	padding: 50px 40px 50px 40px;
	margin: 0; 
	position: absolute;
	width: 1000px;
	height: auto;

}

/**/
.div{

	background: #800000;
	color: #FFFFFF;
	font-size: 20px;
	padding: 28px 2px 28px 2px;
	margin-top: -48px;
	margin-bottom: -6px;
	margin-right: -38px;
	margin-left: -38px;
	border: solid;
	
}

.div figure img{
	float: left;
	width: 350px;
	height: 150px;
	padding-bottom: 1px;
}

.div div#titulo{
	text-align: left;
	
}

.borda{
	border: solid #CCCCCC;
	width: 400px;
	height: 500px;
	display: inline-table;
	margin-right: 25px;
	margin-left: 25px;
	padding-right: 20px;
	padding-left: 20px;

}


.tam img{
	width: 120px;
	height: 150px;
    border-radius: 25px;

    
}

.tam figure{
	margin: 3px;
	display: inline-table;
}


div#format{
	text-align: justify;

}

div#tit{
	text-align: center;
}
figure#dim img{
	width: 300px;
	height: 300px;
	padding: 2px;
	float: left;
}

#menu{
	padding: 0;
	margin-top: 0;
}

#menu ul{
	margin-left: -45px;
}

#menu li{
	display: inline-block;
}

#menu li a{
	background-color: black;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

nav#menu li a:hover {
    background-color: #800000;
}


.midias img{
	width: 50px;
	height: 30px;
}

.midias li{
	list-style-type: none;
	display: inline-block;
}

.img div{
    margin: 15px;
    border: 1px solid #ccc;
    float: left;
    
}	

.img img:hover{
    border: 1px solid #777;
}

.img img {
    width: 200px;
    height: 150px;
}

/*imagens da página de esteticos*/
.imag img{
	width: 200px;
	height: 150px;
	border-radius: 2px;
}
/*formato de texo da pagina esteticos*/
.imag div{
	padding: 10px;
	border-radius: 25px;
	border: solid #CCCCCC;
	width: 300px;
    height: 600px;
	text-align: justify;
	display: inline-table;
	margin: 1px;
}

/*imagem da pagina veterinarios*/
div.vet img{
	width: 200px;
	height: 150px;
}
/*formato de texo da pagina veterinarios*/
div.vet div{
	padding: 10px;
	border-radius: 25px;
	border: solid #CCCCCC;
	width: 300px;
    height: 500px;
    margin: 1px;
	text-align: justify;
	display: inline-table;
}

/*página precos*/
div.org img{
	width: 200px;
	height: 150px;
}

div.org div{
	padding: 10px;
	border-radius: 25px;
	border: solid #CCCCCC;
	width: 300px;
    height: 400px;
    margin: 1px;
	text-align: justify;
	display: inline-table;
}

/*página cães e gatos*/
.animals img{
	width: 250px;
	height: 150px;
	border-radius: 25px;
	border: solid #CCCCCC;
	margin: -5px;
	
}

.animals figure{
	display: inline-table;
	border: 4px #ccc;

}

.animals1{
	border-radius: 25px;
	border: solid #CCCCCC;
	margin: 3px;
}
/*pagina serviços*/
.serv div{
	border-radius: 25px;
	border: solid #CCCCCC;
	width: 200px;
	height: 300px;
	margin: 3px;
	display: inline-table;
	padding-right: 15px;
	padding-left: 15px;
}

.serv img{
	width: 200px;
	height: 150px;
	border-radius: 25px;
}
/*home*/
.slide img{
	width: 400px;
	height: 250px;
}

hr{
	color: #CCC;
}
.rodape{
	text-align: center;
}

.lista li{
	display: inline;
	margin: 5px 7px 5px 7px;
	
}

/*pagina Produtos*/
.produtos img{
	width: 200px;
	height: 150px;
}

.produtos div{
	border-radius: 25px;
	border: solid #CCCCCC;
	width: 300px;
    height: 400px;
    margin: 1px;
    display: inline-table;
}

.produtos2 img{
	width: 200px;
	height: 150px;
}

.produtos2 div{
	border-radius: 25px;
	border: solid #CCCCCC;
	width: 400px;
    height: 500px;
    margin: 1px;
    display: inline-table;


}

footer{
	font-size: 15px;
	padding: 28px 2px 28px 2px;
	margin-top: -48px;
	margin-bottom: -6px;
	margin-right: -38px;
	margin-left: -38px;
	border-bottom: 0 groove;
	margin-bottom: 0;
}

hr{
	color: #800000;
}

.navbar{
	position: fixed;
	top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}